insiderbuying-site/n8n/workflows/insiderbuying/w1-keyword-selection.json
{
  "name": "EarlyInsider — W1 Keyword Selection",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 5 * * 0" }] }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Fetch existing keywords from NocoDB to dedup against\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\n\nfunction fetchFn(urlStr, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(urlStr);\n    const mod = u.protocol === 'https:' ? _https : _http;\n    const reqOpts = {\n      hostname: u.hostname, port: u.port,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: opts.headers || {},\n    };\n    const req = mod.request(reqOpts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, json: () => Promise.resolve(JSON.parse(body)), text: () => Promise.resolve(body) });\n      });\n    });\n    req.on('error', reject);\n    if (opts.body) req.write(typeof opts.body === 'string' ? opts.body : JSON.stringify(opts.body));\n    req.end();\n  });\n}\n\n// Get existing keywords\nconst res = await fetchFn($env.NOCODB_BASE_URL + '/Keywords?fields=keyword&limit=1000', {\n  headers: { 'xc-auth': $env.NOCODB_API_TOKEN },\n});\nconst data = await res.json();\nconst existing = (data.list || []).map(r => r.keyword);\n\n// Get active tickers from recent insider trades (top 20)\nconst tradesRes = await fetchFn('https://api.financialdatasets.ai/api/v1/insider-trades?limit=50', {\n  headers: { 'X-API-Key': $env.FINANCIAL_DATASETS_API_KEY },\n});\nlet tickers = [];\nif (tradesRes.ok) {\n  const trades = await tradesRes.json();\n  const tickerSet = new Set();\n  (trades.insider_trades || []).forEach(t => { if (t.ticker) tickerSet.add(t.ticker); });\n  tickers = [...tickerSet].slice(0, 20);\n}\n\nreturn [{ json: { existing_keywords: existing, tickers, active_blogs: ['insiderbuying'] } }];"
      },
      "id": "code-prep",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const { selectKeywords } = require('/home/node/.n8n/code/insiderbuying/select-keyword.js');\n\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\n\nfunction fetchFn(urlStr, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(urlStr);\n    const mod = u.protocol === 'https:' ? _https : _http;\n    const reqOpts = { hostname: u.hostname, port: u.port, path: u.pathname + u.search, method: opts.method || 'GET', headers: opts.headers || {} };\n    const req = mod.request(reqOpts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, json: () => Promise.resolve(JSON.parse(body)), text: () => Promise.resolve(body) });\n      });\n    });\n    req.on('error', reject);\n    if (opts.body) req.write(typeof opts.body === 'string' ? opts.body : JSON.stringify(opts.body));\n    req.end();\n  });\n}\n\nconst input = $input.first().json;\nconst result = await selectKeywords(input, {\n  fetchFn,\n  env: { DATAFORSEO_LOGIN: $env.DATAFORSEO_LOGIN, DATAFORSEO_PASSWORD: $env.DATAFORSEO_PASSWORD },\n});\n\nreturn [{ json: result }];"
      },
      "id": "code-select",
      "name": "Select Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Write keywords to NocoDB\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\n\nfunction fetchFn(urlStr, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(urlStr);\n    const mod = u.protocol === 'https:' ? _https : _http;\n    const reqOpts = { hostname: u.hostname, port: u.port, path: u.pathname + u.search, method: opts.method || 'GET', headers: opts.headers || {} };\n    const req = mod.request(reqOpts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, json: () => Promise.resolve(JSON.parse(body)) });\n      });\n    });\n    req.on('error', reject);\n    if (opts.body) req.write(typeof opts.body === 'string' ? opts.body : JSON.stringify(opts.body));\n    req.end();\n  });\n}\n\nconst result = $input.first().json;\nlet written = 0;\n\nfor (const blog of result.blogs || []) {\n  for (const kw of blog.keywords || []) {\n    await fetchFn($env.NOCODB_BASE_URL + '/Keywords', {\n      method: 'POST',\n      headers: { 'xc-auth': $env.NOCODB_API_TOKEN, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        keyword: kw.keyword,\n        blog: kw.blog,\n        ticker: kw.keyword.match(/\\b([A-Z]{1,5})\\b/)?.[1] || '',\n        article_type: kw.article_type,\n        search_volume: kw.search_volume,\n        difficulty: kw.difficulty,\n        cpc: kw.cpc,\n        intent_multiplier: kw.intent_multiplier,\n        priority_score: kw.priority_score,\n        secondary_keywords: JSON.stringify([]),\n        status: 'new',\n      }),\n    });\n    written++;\n  }\n}\n\nreturn [{ json: { ...result, written } }];"
      },
      "id": "code-write",
      "name": "Write to NocoDB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const { formatKeywordAlert } = require('/home/node/.n8n/code/insiderbuying/e2e-monitoring.js');\nconst result = $input.first().json;\nconst msg = formatKeywordAlert({\n  blog: (result.blogs || [])[0]?.blog || 'insiderbuying',\n  count: result.total_keywords || 0,\n  top_keywords: ((result.blogs || [])[0]?.keywords || []).slice(0, 3).map(k => k.keyword),\n});\nreturn [{ json: { text: msg, chat_id: $env.TELEGRAM_CHAT_ID } }];"
      },
      "id": "code-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $json.chat_id }}" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        }
      },
      "id": "telegram-send",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]] },
    "Prepare Data": { "main": [[{ "node": "Select Keywords", "type": "main", "index": 0 }]] },
    "Select Keywords": { "main": [[{ "node": "Write to NocoDB", "type": "main", "index": 0 }]] },
    "Write to NocoDB": { "main": [[{ "node": "Format Alert", "type": "main", "index": 0 }]] },
    "Format Alert": { "main": [[{ "node": "Telegram Alert", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "EarlyInsider" }]
}
