insiderbuying-site/n8n/workflows/insiderbuying/w13-cross-linking.json
{
  "name": "EarlyInsider — W13 Cross-Linking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "w13-cross-linking",
        "responseMode": "lastNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const { crossLink } = require('/home/node/.n8n/code/insiderbuying/cross-link.js');\n\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\n\nfunction fetchFn(urlStr, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(urlStr);\n    const mod = u.protocol === 'https:' ? _https : _http;\n    const reqOpts = {\n      hostname: u.hostname, port: u.port,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: opts.headers || {},\n    };\n    const req = mod.request(reqOpts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          json: () => Promise.resolve(JSON.parse(body)),\n          text: () => Promise.resolve(body),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (opts.body) req.write(typeof opts.body === 'string' ? opts.body : JSON.stringify(opts.body));\n    req.end();\n  });\n}\n\nconst input = $input.first().json;\nconst result = await crossLink(input, {\n  fetchFn,\n  env: {\n    NOCODB_BASE_URL: $env.NOCODB_BASE_URL,\n    NOCODB_API_TOKEN: $env.NOCODB_API_TOKEN,\n  },\n});\n\nreturn [{ json: result }];"
      },
      "id": "code-crosslink",
      "name": "Cross-Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Cross-Link", "type": "main", "index": 0 }]] },
    "Cross-Link": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "EarlyInsider" }]
}
