insiderbuying-site/n8n/workflows/insiderbuying/w2-article-generation.json
{
  "name": "EarlyInsider — W2 Article Generation",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [
          { "field": "cronExpression", "expression": "0 13 * * *" },
          { "field": "cronExpression", "expression": "0 18 * * *" },
          { "field": "cronExpression", "expression": "0 23 * * *" }
        ]}
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "8AM, 1PM, 6PM EST = 13:00, 18:00, 23:00 UTC"
    },
    {
      "parameters": {
        "jsCode": "const { generateArticle } = require('/home/node/.n8n/code/insiderbuying/generate-article.js');\nconst { formatSuccessAlert, formatFailureAlert, formatLowInventoryAlert, checkKeywordInventory, estimateArticleCost } = require('/home/node/.n8n/code/insiderbuying/e2e-monitoring.js');\nconst fs = require('fs');\n\nconst _https = require('https');\nconst _http = require('http');\nconst { URL } = require('url');\n\nfunction fetchFn(urlStr, opts = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(urlStr);\n    const mod = u.protocol === 'https:' ? _https : _http;\n    const reqOpts = {\n      hostname: u.hostname, port: u.port,\n      path: u.pathname + u.search,\n      method: opts.method || 'GET',\n      headers: opts.headers || {},\n    };\n    const req = mod.request(reqOpts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({\n          ok: res.statusCode >= 200 && res.statusCode < 300,\n          status: res.statusCode,\n          json: () => Promise.resolve(JSON.parse(body)),\n          text: () => Promise.resolve(body),\n          arrayBuffer: () => Promise.resolve(Buffer.from(body).buffer),\n        });\n      });\n    });\n    req.on('error', reject);\n    if (opts.body) req.write(typeof opts.body === 'string' ? opts.body : JSON.stringify(opts.body));\n    req.end();\n  });\n}\n\n// Load system prompt template\nlet systemPrompt = '';\ntry {\n  systemPrompt = fs.readFileSync('/home/node/.n8n/code/insiderbuying/FINANCIAL-ARTICLE-SYSTEM-PROMPT.md', 'utf8');\n  // Extract just the prompt between ``` fences\n  const match = systemPrompt.match(/```\\n([\\s\\S]*?)\\n```/);\n  if (match) systemPrompt = match[1];\n} catch (e) {\n  console.warn('System prompt file not found, using env var fallback');\n  systemPrompt = $env.ARTICLE_SYSTEM_PROMPT || '';\n}\n\nconst env = {\n  NOCODB_BASE_URL: $env.NOCODB_BASE_URL,\n  NOCODB_API_TOKEN: $env.NOCODB_API_TOKEN,\n  FINANCIAL_DATASETS_API_KEY: $env.FINANCIAL_DATASETS_API_KEY,\n  ANTHROPIC_API_KEY: $env.ANTHROPIC_API_KEY,\n  DEXTER_WEBHOOK_URL: 'http://localhost:5678/webhook/dexter-research',\n  W12_WEBHOOK_URL: 'http://localhost:5678/webhook/w12-image-generation',\n  W13_WEBHOOK_URL: 'http://localhost:5678/webhook/w13-cross-linking',\n  REVALIDATE_URL: 'https://earlyinsider.com/api/revalidate',\n  REVALIDATION_SECRET: $env.REVALIDATION_TOKEN,\n  GOOGLE_INDEXING_TOKEN: $env.GOOGLE_INDEXING_TOKEN || '',\n  TELEGRAM_BOT_TOKEN: $env.TELEGRAM_BOT_TOKEN,\n  TELEGRAM_CHAT_ID: $env.TELEGRAM_CHAT_ID,\n  ARTICLE_SYSTEM_PROMPT: systemPrompt,\n};\n\nconst result = await generateArticle(\n  { blog: 'insiderbuying' },\n  { fetchFn, env }\n);\n\n// Check keyword inventory\nconst kwRes = await fetchFn(env.NOCODB_BASE_URL + '/Keywords?where=' + encodeURIComponent(\"(status,eq,new)~and(blog,eq,insiderbuying)\") + '&limit=1&fields=id', {\n  headers: { 'xc-auth': env.NOCODB_API_TOKEN },\n});\nconst kwData = await kwRes.json();\nconst inv = checkKeywordInventory(kwData.pageInfo?.totalRows || 0, 'insiderbuying');\n\nreturn [{ json: { ...result, keyword_inventory: inv } }];"
      },
      "id": "code-generate",
      "name": "Generate Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.keyword_inventory.isLow }}", "value2": true }]
        }
      },
      "id": "if-low-inventory",
      "name": "Low Inventory?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const { formatLowInventoryAlert } = require('/home/node/.n8n/code/insiderbuying/e2e-monitoring.js');\nconst inv = $input.first().json.keyword_inventory;\nconst msg = formatLowInventoryAlert(inv);\nreturn [{ json: { text: msg, chat_id: $env.TELEGRAM_CHAT_ID } }];"
      },
      "id": "code-low-alert",
      "name": "Low Inventory Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $json.chat_id }}" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        }
      },
      "id": "telegram-low",
      "name": "Send Low Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -150]
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 150]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Generate Article", "type": "main", "index": 0 }]] },
    "Generate Article": { "main": [[{ "node": "Low Inventory?", "type": "main", "index": 0 }]] },
    "Low Inventory?": {
      "main": [
        [{ "node": "Low Inventory Alert", "type": "main", "index": 0 }],
        [{ "node": "No Op", "type": "main", "index": 0 }]
      ]
    },
    "Low Inventory Alert": { "main": [[{ "node": "Send Low Alert", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "EarlyInsider" }]
}
